@keyframes heart-scale {
  from {
    scale: 1;
  }

  to {
    scale: 1.25;
  }
}

@keyframes sparcs-color {
  from {
    fill: var(--sparks-color);
  }

  to {
    --sparks-color: rgba(255, 0, 0, 1);
    fill: var(--sparks-color);
  }
}
